@import '@style-assets';

.chart-section {
  grid-area: chart;

  .section-content {
    @media screen and (min-width: 1023px) {
      grid-template-columns: 1fr 6fr 4fr 1fr;
      grid-template-areas: ". content menu .";

      .options-menu {
        grid-area: menu;
        top: -60px;
        right: 50px;
      }
    }
  }

  &-layout {
    position: absolute;
    width: 100%;
    height: 89%;
    top: 45px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 1;
  }

  &-content {
    height: 100%;
    width: 100%;
    grid-area: content;
  }
}