
@import '@style-assets';

.app {
  &-container {
    display: grid;
    grid-template-rows: 70px 1fr;
    height: 100vh;
  }

  &-main {
    background: $main-background-light-theme;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 1fr 2fr 3fr;
    grid-template-areas: 
      'global map country'
      'countries map country'
      'countries map chart';
    grid-gap: 16px;
    padding: 16px;
    position: relative;

    .dark-theme & {
      background: $main-background-dark-theme;
    }
  }
}
