
@import '@style-assets';

.countries-section {
  grid-area: countries;

  .section-header {
    .options-menu {
      right: -100%;
  
      @media screen and (max-width: 1023px) {
        right: 0;
      }
    }
  }
}
