
@import '@style-assets';

.section {
  background: $section-background-light-theme;
  border-radius: 4px;
  display: grid;
  grid-template-rows: 32px 1fr;
  grid-gap: 10px;
  padding: 12px;
  position: relative;

  .dark-theme & {
    background: $section-background-dark-theme;
  }

  &-fullscreen-icon {
    background: rgba(228, 229, 230, 0.8);
    border-radius: 50%;
    opacity: 0;
    -x-size: 24px;
    -x-position: absolute -9px -9px x x;

    img {
      -x-size: 16px;
    }
  }

  &-header {
    position: relative;
  }

  &-icons {
    .base-text-label {
      margin-right: 12px;

      @media screen and (max-width: 469px) {
        display: none;
      }
    }
  }

  &-icons, &-options-icon {
    display: flex;
    align-items: center;
  }

  &-fullscreen-close {
    display: none;
  }

  &-content {
    width: 100%;
  }

  &:hover .section-fullscreen-icon {
    opacity: 1;
  }

  &.section-fullscreen {
    position: fixed;
    width: calc(100% - 32px);
    height: calc(100% - 142px);
    z-index: 99;

    .section {
      &-options-icon {
        margin-right: 24px;
      }

      &-fullscreen-close {
        display: block;
      }

      &-fullscreen-icon {
        display: none;
      }

      @media screen and (min-width: 1023px) {
        &-content {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px;
        }

        &-options-icon {
          display: none;
        }
  
        &-content .options-menu {
          display: block;
          position: static;
        }
      }
    }
  }
}
