
@import '@style-assets';

.country-section {
  grid-area: country;

  .section {
    &-header {
      margin-bottom: 10px;
    }
  }

  &-content {
    width: 100%;

    &-item {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    &, &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-title {
      color: rgba(57, 62, 70, 0.8);
      -x-font-size: 14px/28px;

      .dark-theme & {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}
